.navbar{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .logo{
    width: 150px;
}
.navbar-menu{
    display: flex;
    list-style: none;
    gap: 20px;
    color:#49557e;
    font-size: 18px;
}
.navbar-right{
    display: flex;
    align-items: center;
    gap: 40px;
}
.navbar button{
    background: transparent;
    font-size: 16px;
    color:#49557e;
    border:1px solid tomato;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}
.navbar button:hover{
    background-color: #fff4f2;
}
.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
}
.navbar li{
    cursor: pointer;
}
.navbar-search-icon{
    position: relative;

}
.navbar-search-icon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 5px;
    top:-8px;
    right:-8px;
}
.navbar-profile {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* Dropdown box */
.nav-profile-dropdown {
    position: absolute;
    top: 100%;          /* 110% hata diya */
    right: 0;
    width: 150px;
    background-color: #fff;
    padding: 6px 0;
    border-radius: 6px;
    border: 1px solid #eee;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    list-style: none;
    z-index: 100;

    /* Display remove karke ye use karo */
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease;
}

/* Hover working perfectly */
.navbar-profile:hover .nav-profile-dropdown {
    opacity: 1;
    visibility: visible;
}

/* List item */
.nav-profile-dropdown li {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
}

.nav-profile-dropdown li:hover {
    background-color: #fff2ef;
}

.nav-profile-dropdown img {
    width: 18px;
}

/* HR styling */
.nav-profile-dropdown hr {
    margin: 4px 0;
    border: none;
    border-top: 1px solid #eee;
}
@media (max-width:1050px){
    .navbar .logo{
        width: 140px;
    }
    .navbar-menu{
        gap:20px;
        font-size: 17px;
    }
    .navbar-right{
        gap:30px;
    }
    .navbar-right img{
        width: 22px;
    }
    .navbar-right button{
        padding: 8px 25px;
    }
}

@media (max-width:900px){
    .navbar .logo{
        width: 120px;
    }
    .navbar-menu{
        gap:15px;
        font-size: 16px;
    }
    .navbar-right{
        gap:20px;
    }
    .navbar-right img{
        width: 20px;
    }
    .navbar-right button{
        padding: 7px 20px;
        font-size: 15px;
    }
}

@media (max-width:750px){
    .navbar-menu{
        display: none;
    }
}